.App {
  text-align: center;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 80px;
}

.App-header {
  background-color: #222;
  height: 150px;
  padding: 20px;
  color: white;
}

.App-title {
  font-size: 1.5em;
}

.App-intro {
  font-size: large;
}

@keyframes App-logo-spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}

.episode-table {
    display: flex;

    border-bottom: 1px solid #ccc;
}

.episode-table:last-child {
    border-bottom: 0;
}

.episode-table__date {
    flex: 1;
    padding: 5px 10px;
}

.episode-table__episode-title {
    flex: 1;
    font-weight: 400;
    text-align: left;
}